@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <b>Mongo connection string is: </b>
    </div>
    <div>
        @ViewData["MongoConnection"]
    </div>

    <br />

    <div>
        <b>Sql connection string is: </b>
    </div>
    <div>
        @ViewData["SqlConnection"]
    </div>

</div>
